* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #E0F7FA;
  -webkit-font-smoothing: antialiased;
}

input, select, textarea, button {
  font-family: 'Poppins', Arial, sans-serif;
}

/* Make map full width on mobile devices */
@media (max-width: 600px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar input {
    width: 100% !important;
  }
}
